@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.height-100 {
    height: 100px;
}

.bg-color {
    background-color: #252930;
}

.bg-color-2 {
    background-color: #F6F8FC;
}

.bg-color-3 {
    background-color: #25293d;
}

.bg-color-4 {
    background-color: #3d343a;
}

.bg-img {
    background-image: url(/assets/img/png/baground-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:root {
    --fs-sm: 16px !important;
    --fs-md: 22px !important;
    --fs-lg: 48px !important;
    --fs-xl: 96px !important;
    --fw-sm: 400;
    --fw-md: 600;
    --fw-lg: 700;
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fw-sm {
    font-weight: var(--fw-sm);
}

.fw-md {
    font-weight: var(--fw-md);
}

.fw-lg {
    font-weight: var(--fw-lg);
}

.fm-poppins {
    font-family: "poppins" !important;
}

.fm-roboto {
    font-family: "roboto" !important;
}

.fm-josefin-sans {
    font-family: "josefin sans" !important;
}

.left-arrow {
    width: 62px;
    height: 108px;
    background-color: #6a6767;
    position: absolute;
    left: 10%;
    top: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-arrow {
    width: 62px;
    height: 108px;
    background-color: #6a6767;
    position: absolute;
    right: 10%;
    top: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.butn {
    border: none;
    width: 201px;
    height: 56px;
    border-radius: 74px;
    color: white;
    background-color: #4D73F8;
}

.color-white {
    color: white;
}

.color-black {
    color: #252930;
}

span {
    color: #4D73F8;
}

a {
    color: white !important;
}

footer span :hover {
    cursor: pointer;
}

.max-width {
    max-width: 640px;
}

.max-width-2 {
    max-width: 927px;
}

.max-width-3 {
    max-width: 339px;
}

.height-50 {
    height: 50px;
}

.slick-dots {
    bottom: -50px;
}

@media (max-width:1200px) {
    .fd-col {
        flex-direction: column-reverse;
    }
}

@media (max-width:992px) {
    :root {
        --fs-sm: 16px !important;
        --fs-md: 22px !important;
        --fs-lg: 48px !important;
        --fs-xl: 80px !important;
        --fw-sm: 400;
        --fw-md: 600;
        --fw-lg: 700;
    }

    .right-arrow,
    .right-arrow span {
        display: none;
    }

    .left-arrow,
    .left-arrow span {
        display: none;
    }
}

@media (max-width:768px) {
    .fd-column {
        flex-direction: column;
    }

    :root {
        --fs-sm: 16px !important;
        --fs-md: 22px !important;
        --fs-lg: 30px !important;
        --fs-xl: 60px !important;
        --fw-sm: 400;
        --fw-md: 500;
        --fw-lg: 600;
    }

}

@media (max-width:576px) {
    :root {
        --fs-sm: 16px !important;
        --fs-md: 22px !important;
        --fs-lg: 25px !important;
        --fs-xl: 30px !important;
        --fw-sm: 400;
        --fw-md: 600;
        --fw-lg: 700;
    }
}